html {
  background: $color-primary;
}

body {
  color: $color-light;
}

header {
  margin-bottom: .8rem;
  background: $color-tertierary;
  text-align: center;
}

h1 {
  font-size: $font-size-header;
  font-family: $font-family-header;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

p {
  font-size: $font-size-primary;
}
