html {
  background: $color-primary;
}

body {
  color: $color-light;
}


main, header {
  @include flex(column, center);
}

a  {
  color: $color-secondary;
}

h1 {
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include paragraph;
  font-weight: bolder;
}

h4, p {
  @include paragraph;
}

