html {
  background: $color-primary;
}

body {
  color: $color-light;
}

main,
header {
  @include flex(column, center);
}

a {
  color: $color-secondary;
}

h1 {
  @include heading;
}

h2 {
  @include subheading;
}

h3 {
  @include paragraph;
  font-weight: bolder;
}

h4,
p {
  @include paragraph;
}

button {
  @include flex(column, center);
  @include button;
  @include opacity($color-secondary, -0.7);
  border: $color-secondary 1.5px solid;
  border-radius: $borders-curve-strong;
  padding: 0.1rem 0.5rem;
  color: $color-light;
  transition: 100ms;
  &:hover {
    @include opacity($color-secondary, -0.5);
    transition: 100ms;
    border: $color-light 1.5px solid;
    text-shadow: 0 0 1.5px $color-light;
  }
}
