/* ==========================================================================
Settings - Colors
========================================================================== */

/* === Palette === */
$color-primary: hsla(196, 66, 20, 1);
$color-secondary: hsla(196, 25, 66, 1);
$color-tertierary: hsla(34, 3, 43, 1);

/* === Nuetrals === */
$color-light: hsla(0, 0, 94, 1);
$color-dark: hsla(0, 0, 5, 1);