/* ==========================================================================
Settings - Typography
========================================================================== */

/* === Font Import === */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* === Defaults === */
$font-family-defaults: 'Roboto', sans-serif;
$font-size-defaults: 1rem;
$font-style-defaults: normal;
$font-line-height-defaults: 1rem; 
$font-weight-defaults: normal;
$font-style-defaults: normal;

/* === Font-Family === */
$font-family-primary: 'Teko', sans-serif;

/* === Font Size === */
$font-size-heading: 2.5rem, 4vw,  5rem;
$font-size-subheading: 1.5rem,  2.2vw,  4rem;
$font-size-paragraph: 1.5rem, 4vw, 2.5rem;
