/* ==========================================================================
Tools - Mixins
========================================================================== */


/* === Flexbox === */
@mixin flex($direction, $alignment, $wrap: nowrap ) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  @if $alignment == center {
    align-items: center;
    justify-content: center;
  } @else if $alignment == space {
    align-items: center;
    justify-content: space-around;
  } @else if $alignment == end {
    align-items: center;
    justify-content: flex-end;
  }
}


/* === Font Palettes === */
@mixin title {
  font-size: $font-size-header;
  font-family: $font-family-primary;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@mixin subtitle {
  font-size: $font-size-header;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@mixin scaling-font {
  font-size: calc(20px + (32 + 10) * ((100vw - 375px) / (1000 - 375)));
}


/* === Colors === */
@mixin opacity($color, $value) {
  background: adjust-color($color, $alpha: $value);
}
 
/* === Media Queries === */
@mixin phone {
  @media only screen and (max-width: 375px) {
    @content;
    font-size: calc(20px + (32 + 20) * ((100vw - 375px) / (1000 - 375)));
  }
}

@mixin tablet {
  @media only screen and (min-width: 1000px) {
    @content;
    font-size: 32px;
  }
}
