.movie-card {
    position: relative;
    transform: translateY(10px);
    transition: 500ms;
    width: clamp(10rem, 5vw, 15rem);
    height: clamp(15rem, 5vh, 20rem);
    img {
        position: absolute;
        transition: 500ms;
        box-shadow: 0 0 10px  $color-dark;
        border-radius: $borders-curve;
        width: 100%;
        height: 100%;
        &:hover {
            transform: translateY(-5px) scale(1.1);
            transition: 300ms;
            filter: brightness(1.1);
        }
    }
}

