.movie-card {
    position: relative;
    opacity: .75;
    width: 17rem;
    height: 20rem;
    transition: 500ms;
  
    img {
        position: absolute;
        border-radius: $borders-curve;
        box-shadow: 0 0 10px  $color-dark;
        width: 100%;
        height: 100%;
    }
  
}

