.selected-movie {
    @include opacity($color-tertierary, -0.8);
    margin: .5rem;
    border: 3px solid $color-light;
    border-radius: $borders-curve-strong;
    padding-bottom: .3rem;
    .title-container {
        @include opacity($color-dark, -0.8);
        @include flex(row, center);
        position: relative;
        margin: .2rem;
        .movie-back-button {
            position: absolute;
            top: 10%;
            right: 1%;
        }
    } 
    .overview {
        margin: 1rem;
        text-align: center;
        h3 {
            margin-left: .5rem;
        }
    }
    .img-container {
        @include mediaQueries(fullMovie);
        @include flex (row, center);
        position: relative;
        img {
            border-radius: 3px 3px 0 0 ;
            transition: 250ms;
            height: 100%;
            width: 100%;
        }  
        .tagline-container {
            @include opacity($color-secondary, -0.2);
            position: absolute;
            top: 0;
            left: 0;
            margin: .5rem 0;
            border-radius: 0 5px 5px 0;
            padding-right: 1rem;
        }
    }
    .info-container {
        @include flex (row, space);
        @include opacity($color-secondary, -0.2);
        > div {
            @include flex (row, center);
            h4 {
              margin: .1rem .4rem;
            }
            p {
              margin-left: .2rem;
            }
        }
    }
    .full-detail-container {
        @include mediaQueries(fullMovieDetails);
        .genre-container {
            @include flex (row, center);
            > h4 {
                font-weight: bolder;
              }
            > p {
                margin: 0 .3rem;
            }
        }
        .detail-container{
            @include flex (column, start);
            @include desktop(fullMovieDetails);
            margin: .3rem;
            > h4 {
                margin-right: .5rem;
                font-weight: bolder;
            }
        }
    }
}


