.selected-movie {
  @include opacity($color-tertierary, -0.8);
  margin: 0.5rem;
  border: 3px solid $color-light;
  border-radius: $borders-curve-strong;
  padding-bottom: 0.3rem;
  .title-container {
    @include opacity($color-dark, -0.8);
    @include flex(row, center);
    position: relative;
    margin: 0.2rem;
    .movie-back-button {
      position: absolute;
      top: 10%;
      right: 1%;
    }
  }
  .overview {
    margin: 1rem;
    text-align: center;
    h3 {
      margin-left: 0.5rem;
    }
  }
  .img-container {
    @include mediaQueries(fullMovie);
    @include flex(row, center);
    position: relative;
    img {
      border-radius: 3px 3px 0 0;
      transition: 250ms;
      height: 100%;
      width: 100%;
    }
    .tagline-container {
      @include opacity($color-secondary, -0.2);
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.5rem 0;
      border-radius: 0 5px 5px 0;
      padding-right: 1rem;
      h3 {
        padding-left: 0.4rem;
      }
    }
    .message-container {
      @include mediaQueries(inset);
      @include animation-slide;
      position: absolute;
      opacity: 1;
      top: 15%;
      right: 0;
      padding: 0 1rem;
      background: $color-secondary;
      border-radius: 5px;
      animation: slide 3s;
    }
  }
  .info-container {
    @include flex(row, space);
    @include opacity($color-secondary, -0.2);
    > div {
      @include flex(row, center);
      h4 {
        margin: 0.1rem 0.4rem;
      }
      p {
        margin-left: 0.2rem;
      }
    }
  }
  .full-detail-container {
    @include mediaQueries(fullMovieDetails);
    .genre-container {
      @include flex(row, center);
      > h4 {
        font-weight: bolder;
      }
      > p {
        margin: 0 0.3rem;
      }
    }
    .detail-container {
      @include flex(column, start);
      @include desktop(fullMovieDetails);
      margin: 0.3rem;
      > h4 {
        margin-right: 0.5rem;
        font-weight: bolder;
      }
    }
  }
  .favorite-button {
    @include opacity($color-secondary, -0.2);
    border-radius: $borders-curve-strong;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.3rem;
    transition: 300ms;
    &:hover {
      transition: 300ms;
      transform: scale(1.01);
      filter: drop-shadow(0 0 2.5px $color-favorite);
    }
  }
  .favorited {
    @extend .favorite-button;
    color: $color-favorite;
    transition: 300ms;
    &:hover {
      transition: 300ms;
      transform: scale(1.01);
      filter: drop-shadow(0 0 2.5px $color-light);
    }
  }
}
